.editorBackground {
  background-color: #1e1e1e;
}

.keywordColor {
  color: #569cd6;
}

.textColor {
  color: #c8c8c8;
}

.className {
  color: #4ec9b0;
}

.tabColor {
  background-color: #717171;
}

.lineColor {
  border-color: #7373ff;
}

.interface {
  color: #b8d7a3;
}

.variables {
  color: #9cdcfe;
}

.function {
  color: #dcdcaa;
}

.comment {
  color: rgb(25, 135, 21);
}

.inputBackground {
  background-color: #1e1e1e;
}

.retNCont {
  color: #d8a0df;
}
